.three h1{border: solid ;
    border: solid 10px ;
    text-align: center;
    margin: 30px  20px 5px 2opx;
    padding: 50px 20px 5px 20px
    
    
}
.two{
    border: solid 20px grey;
    margin: 20% 20%;
     width: 40%;
    padding: 50px 20px 5px 20px;
}
.one{
    border: solid 20px chocolate;
    padding: 60px 30px 60px 100px;
    
    
}
body{
    width: 50%;
    margin-left: 20%;
}
header{
    text-align: center;
}